<div class="container">
    {{!-- logo and sign in / out--}}
    <div class="row">
        <div class="col-lg-6 text-left">
            <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
        </div>
        <div class="col-lg-6 text-right">
            <div class="col-lg-6 text-right">
            <a class="btn btn-secondary my-5" role="button" href="/user-profile">Profile</a>
            <a class="btn btn-info my-5 mr-3" role="button" href="/login">Login</a>
            <a class="btn btn-secondary my-5" role="button" href="/register">Register</a>
            <a class="btn btn-secondary my-5" role="button" href="/logout">Logout</a>
        </div>
        </div>
    </div>
</div>
<br>
<h3>
   {{#if id}}
   Welcome, {{firstName}}
   {{else}}
   <h1>Welcome to Terra Mater.</h1>
   {{/if}}
</h3>
