<h1> index.html </h1>
<br>
<h3>
   {{#if id}}
   Welcome {{firstName}} {{lastName}}
   {{else}}
   <h1>Welcome New User</h1>
   {{/if}}
</h3>
<p><a href="/login">Login</a></p>
<p><a href="/register">Register</a></p>