<div class="container">
    {{!-- logo and sign in / out--}}
    <div class="row">
        <div class="col-lg-6 text-left">
            <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
        </div>
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-secondary my-5"><a href="/user-profile">Profile</a></button>
            <button type="button" class="btn btn-info my-5 mr-3"><a href="/login">Login</a></button>
            <button type="button" class="btn btn-secondary my-5"><a href="/register">Register</a></button>
            <button type="button" class="btn btn-secondary my-5"><a href="/logout">Logout</a></button>
        </div>
    </div>
</div>
<br>
<h3>
   {{#if id}}
   Welcome, {{firstName}}
   {{else}}
   <h1>Welcome to Terra Mater.</h1>
   {{/if}}
</h3>
