<div class="container">
   {{!-- logo and sign in / out--}}
   <div class="row header">
      <div class="col-12">
         <img class="terra-mater-logo-wide" src="/assets/images/tm-logo-wide.png" alt="Terra Mater Wide Logo">
      </div>
   </div>
</div>

<div class="container" id="login-container">

   {{!-- Heading for page --}}

   {{!-- Form to login --}}
   <div class="row no-gutters">
      <div class="offset-lg-3 col-lg-6">

         <h3>Login</h3>

         <form id="login" name="login" method="get" action="/login">
            <div class="form-group">
               <input class="form-control" placeholder="Email" name="email" type="text" id="email" />
            </div>
            <div class="form-group">
               <input class="form-control" placeholder="Password" name="userPassword" type="password"
                  id="userPassword" />
            </div>
            <div class="d-flex">
               <button type="submit" class="btn btn-info mr-auto">Sign In</button>
               <a class="btn btn-success ml-auto" role="button" href="/register">Register</a>
            </div>
         </form>

         <div class="error-msg"></div>
      </div>
   </div>
   
</div>

<script>
   $(document).ready(function () {

      $(".terra-mater-logo").on("click", function () {
         window.location.href = "/";
      });

   });

   $(document).ready(function () {

      $(".terra-mater-logo").on("click", function() {
            window.location.href = "/";
        });

      $(".terra-mater-logo-wide").on("click", function () {
         window.location.href = "/";
      });

   });
</script>