{{!-- logo top left corner --}}
{{!-- <img src="..." alt="Terra Mater Logo"> --}}

{{!-- insert search bar in top middle --}}
<form class="form-inline my-2 my-lg-0">
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   {{!-- Plant Buttons --}}
   <button href="/api/plants/search">Search</button>
</form>
{{!-- insert get all button for all search results --}}
<button href="/api/plant-short">Plant Directory</button>
{{!-- insert sort functionality asc --}}
{{!-- insert sort functionality desc --}}

{{!-- Heading for page --}}
<h1>Terra Mater</h1>
<h2>Login Page</h2>




{{!-- Form to login --}}
<form id="login" name="login" method="get" action="/login">

   <p>
      <input placeholder="Email" name="email" type="text" id="email" />
   </p>
   <p>
      <input placeholder="Password" name="userPassword" type="password" id="userPassword" />
   </p>

   <input type="submit" value="Sign In" />
</form>
<div class="error-msg"></div>
