<h1>Terra Mater</h1>
<h2>Register Page</h2>

<form id="register" name="register" method="post" action="/register">

   <p>
      <input placeholder="Your Name"  name="name" type="text" id="name" />
   </p>
   <p>
      <input placeholder="Your Email" name="email" type="text" id="email" />
   </p>
   <p>
      <input placeholder="Your Password" name="password" type="password" id="password" />
   </p>
   <p>
      <input placeholder="Confirm Password" name="passwordConfirm" type="password" id="passwordConfirm" />
   </p>

   <input type="submit" value="Register" />
</form>