<div class="container">
   {{!-- logo and sign in / out--}}
   <div class="row">
      <div class="col-lg-6 text-left">
         <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
      </div>
      <div class="col-lg-6 text-right">
         <a class="btn btn-secondary my-5" role="button" href="/user-profile">Profile</a>
         <a class="btn btn-info my-5 mr-3" role="button" href="/login">Login</a>
         <a class="btn btn-secondary my-5" role="button" href="/register">Register</a>
         <a class="btn btn-secondary my-5" role="button" href="/logout">Logout</a>
      </div>
   </div>
</div>

<div class="container">

<h2>Register Page</h2>

{{!-- Account Creation form --}}

<form id="register" name="register" method="post" action="/register">
   <div class="form-group">
      <input class="form-control" placeholder="First Name" name="firstName" type="text" id="firstName" />
   </div>
   <div class="form-group">
      <input class="form-control" placeholder="Last Name" name="lastName" type="text" id="lastName" />
   </div>
   <div class="form-group">
      <input class="form-control" placeholder="Your Email" name="email" type="text" id="email" />
   </div>
   <div class="form-group">
      <input class="form-control" placeholder="Your Password" name="userPassword" type="password" id="userPassword" />
   </div>
   <div class="form-group">
      <input class="form-control" placeholder="Confirm Password" type="password" id="password2" />
   </div>
      <button type="submit" class="btn btn-primary">Register</button>

   </div>

</form>

<a role="button" class="btn btn-primary" href="/login">Sign In</a>

<div class="error-msg"></div>

{{!-- Displays errors --}}
<div class="error-msg"></div>

</div>

{{!-- Disclaimer --}}
<p>All information obtained on this website is meant for educational purposes. You assume full risk by using our site.
</p>