<div class="container">

   <div class="row header">

      <div class="col-5 text-left">
         <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
      </div>

      {{!-- buttons --}}
      {{#if loggedIn}}
      <div class="col-7 text-right">
         <a class="btn btn-success" role="button" href="/user-profile">Profile</a>
         <a class="btn btn-danger" role="button" href="/logout">Logout</a>
      </div>
      {{else}}
      <div class="col-7 text-right">
         <a class="btn btn-success" role="button" href="/">Search</a>
         <a class="btn btn-info" role="button" href="/login">Login</a>
      </div>
      {{/if}}

   </div>

   <div id="register-container">

      <div class="row no-gutters">
         <div class="offset-lg-3 col-lg-6">

            <h3>Register Page</h3>

            {{!-- Account Creation form --}}

            <form id="register" name="register" method="post" action="/register">
               <div class="form-group">
                  <input class="form-control" placeholder="First Name" name="firstName" type="text" id="firstName" />
               </div>
               <div class="form-group">
                  <input class="form-control" placeholder="Last Name" name="lastName" type="text" id="lastName" />
               </div>
               <div class="form-group">
                  <input class="form-control" placeholder="Your Email" name="email" type="text" id="email" />
               </div>
               <div class="form-group">
                  <input class="form-control" placeholder="Your Password" name="userPassword" type="password"
                     id="userPassword" />
               </div>
               <div class="form-group">
                  <input class="form-control" placeholder="Confirm Password" type="password" id="password2" />
               </div>
               <div class="d-flex">
                  <button type="submit" class="btn btn-success mr-auto">Register</button>
                  <a class="btn btn-danger ml-auto" role="button" href="/">Cancel</a>
               </div>

            </form>

         </div>
      </div>

   </div>

   {{!-- Displays errors --}}
   <div class="error-msg"></div>

</div>

<script>
   $(document).ready(function () {

      $(".terra-mater-logo").on("click", function () {
         window.location.href = "/";
      });

   });

   $(document).ready(function () {

      $(".terra-mater-logo-wide").on("click", function () {
         window.location.href = "/";
      });

      $(".terra-mater-logo").on("click", function() {
            window.location.href = "/";
        });

   });
</script>