<div class="container">
    {{!-- logo and sign in / out--}}
    <div class="row">
        
        <div class="col-lg-6 text-right">
            {{#if loggedIn}}
                <div class="col-lg-6 text-left">
                    <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
                </div>
                <a class="btn btn-secondary my-5" role="button" href="/user-profile">Profile</a>
                <a class="btn btn-secondary my-5" role="button" href="/logout">Logout</a>
            {{else}}
                <div class="col-12">
                    <img class="terra-mater-logo-wide" src="/assets/images/tm-logo-wide.png" alt="Terra Mater Wide Logo">
                </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <a class="btn btn-info my-5 mr-3" role="button" href="/login">Login</a>
        </div>
    </div>
</div>

    {{!-- search row --}}
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <form>
                <div class="form-group">
                    {{!-- <label for="plantSearch">Search</label> --}}
                    <input type="text" class="form-control" id="plantSearch" aria-describedby="search by plant"
                        placeholder="Look for a plant...">
                    {{!-- buttons row for form --}}
                    <div class="row my-3">
                        <div class="col-lg-6 text-left">
                            <button id="plant-search" type="submit" class="btn btn-info">Search</button>
                        </div>
                        <div class="col-lg-6 text-right">
                            <button id="all-plants-btn" type="submit" class="btn btn-warning">All Plants</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {

        $("#plant-search").on("click", function (event) {
            event.preventDefault();
            
            var searchTerm = $("#plantSearch").val().trim();
            
            if (searchTerm) {
                window.location.href = "/plants/search/" + searchTerm;
            } else {
                alert("Please enter a search term");
            }
        });

        $("#all-plants-btn").on("click", function(event) {
            event.preventDefault();
            window.location.href = "/api/plant-short";
        });

        $(".terra-mater-logo").on("click", function() {
            window.location.href = "/";
        });
    });
</script>