{{!-- insert logo in top left corner --}}
{{!-- insert signout button in top right corner --}}
{{!-- insert search bar in top middle --}}
{{!-- insert search button for new query --}}
{{!-- insert get all button for all search results --}}
{{!-- insert sort functionality asc --}}
{{!-- insert sort functionality desc --}}

<h1>Terra Mater</h1>
<h2>Search Page</h2>

{{#each Plants}}
<ul>
    <li><img src={{img}} alt="plant image" height="200" width="200"></li>
    <li>Name: {{commonName}}</li>
    <li>{{shortDesc}}</li>
</ul>
<hr>
{{/each}}

{{!-- insert safety disclaimer --}}