@import url("railway.css");

body {
    font-family: 'Raleway', sans-serif;
}

.plant-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#care-container {
    display: none;
}

.terra-mater-logo {
    width: 150px;
    display: block;
    margin: 1rem auto;
}

.terra-mater-logo-wide {
    width: 75%;
    display: block;
    margin: 1rem auto;
}

.disclaimer {
    font-style: italic;
    font-size: smaller;
}

.inactive {
    color: lightgrey;
}

.profile-picture {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 50%;
    width: 40%;
}


