.plant-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#plant-care {
    display: none;
}

.terra-mater-logo {
    width: 200px;
    height: 200px;
}

.disclaimer {
    font-style: italic;
    font-size: smaller;
}