@import url("railway.css");

body {
    font-family: 'Raleway', sans-serif;
}

.plant-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#care-container {
    display: none;
}

.terra-mater-logo {
    width: 150px;
    margin: 3rem;
}

.disclaimer {
    font-style: italic;
    font-size: smaller;
}

.inactive {
    color: lightgrey;
}

.profile-picture {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 50%;
    width: 40%;
}